.btn{
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 8rem;
    font-size: 1.2rem;
    background-color: rgb(10, 133, 204);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.btn:hover {
    background-color: rgba(3, 129, 255, 0.717);
}